* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
  }

  .card-body a {
    word-break: break-all;
  }

  .articleHeadline {
    line-height: 1.5;
  }
h1 {
    text-align: center;
    margin-right: 20px;
}
 
  .social-footer {
    padding-top: 50px;
    padding:20px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }
 
   .social-footer-icons {
       margin-right: 0;
   }
 .top-bar-right {
     text-align: center;
     padding-left: 0;
 }
 

 
.fa {
     color: palegreen;
 }

  a {
    text-decoration: none;
  }
  
  body { 
     background-image: url("assets/images/D5VhEe.jpg");
      height: 100%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
 
    
 }

  .jumbotron {
      background-image: url("assets/images/31944313-party-music-background-for-active-night-events.jpg");
      background-position: top;
      background-repeat: no-repeat;
      background-size: cover;
      padding:20px;
      margin: 20px;
      box-shadow: 0ex;
      
    
 } 


  .text-center {
  padding-right: 50px;
  text-align: center;
 }
   

  

  .top-bar-right {
      color: #f78536 !important;
      margin-bottom: 10px;
      float: center;
      margin: 100px;
      border: black gradient transparent 60% !important;


  }
  
  .footer{
    text-align: center;
    background-color: #2b4450;
    position: fixed;
    padding: 10px;
    left: 0px;
    right: 0px;
    bottom: 0;
    width: 100%;
    height: 80px;
    color: #dddddd;
    font-size: 15px;
    border: 1px solid gray;
    border-top-color: 10px solid #4aaaa5;
  }
  
  * {
    box-sizing: border-box;
  }

  .inputBoxes {
      text-align: center;
      padding-bottom: 150px;
  }

  .menu {
    margin-left: 400px;
padding-top: 10px;
  }

  p {
      color: magenta;
  }


  .displayPane {
   text-align: left;
    color: tomato;
    
  }
  h2 {
      color: yellow;

  }

  h1 {
      color: black;
  }


  .firstlineclass {
  outline: pink solid 5px;
  margin: auto;  
  padding: 20px;
  text-align: center;
  }

  .secondlineclass {
      color: brown;

  }

  .thirdlineclass {
      color: chocolate;

  }

  